.rest-recovery {

  &-request-app {
    min-width: 350px;
  }

  &-divider{
    padding-bottom: 0.25rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px solid rgba(0,0,0,0.5);
  }

  &-clickable {

    &:hover {
      cursor: pointer;
    }

    &-link:hover{
      cursor: pointer;
      color: var(--primary-accent);
    }

    &-link-red{
      color: rgb(185 28 28);
      &:hover{
        color: rgb(239 68 68);
        cursor: pointer;
      }
    }
  }

  &-disabled{
    opacity: 0.5;
  }

  &-button-parent{
    display:flex;

    button:first-child{
      margin-right: 0;
    }
  }

  &-prompt-rest-button{
    flex:1;
    max-width: calc(100% - 8px);
    line-height: inherit;
    font-size: 0.85rem;
    margin: 0.25rem;
    background: rgba(60, 60, 60, 0.6);
    border: 1px solid var(--color-border-dark-primary);
    color: var(--color-text-light-highlight);

    &.minimal-ui-button{
      padding: 2px 0 0 0;
      text-align: center;

      i {
        width:100%;
      }
    }
  }

  &-flex-row {
    display: flex;
    flex-direction: row;
  }

  &-flex-col {
    display: flex;
    flex-direction: column;
  }
}
